---
import ProjectComponent from "./projects/ProjectComponent.astro"

---

<section class="bento-cell">
	
	<ProjectComponent 
	title="Roscals web"
	imgUrl="https://i.pinimg.com/originals/4d/57/d0/4d57d0c826e8029ce917fe5b2efe0897.png"
	>
	<article slot="description">
		<p>En este proyecto</p>
	</article>
	</ProjectComponent>

</section>

<!-- Tenemos una variable --main-color -->

<style>
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2em;
		gap: 1rem;
		max-height: 45vh;
		overflow: auto;
	}
</style>