---
import { DiReact, DiJavascript , DiNodejsSmall, DiHtml5, DiCss3, DiBootstrap, DiGit, DiNpm, DiPython,  } from "react-icons/di";
import { BiLogoTailwindCss, BiLogoFirebase } from "react-icons/bi";
---

<section class="bento-cell">
	<h2>Skills</h2>
	<ul>
		<li>
			<DiReact/>
			<h6>React</h6>
		</li>
		<li>
			<BiLogoFirebase />
			<h6>Firebase</h6>
		</li>
		<li>
			<DiNpm />
			<h6>NPM</h6>
		</li>
		<li>
			<DiJavascript />
			<h6>Java Script</h6>
		</li>
		<li>
			<DiHtml5/>
			<h6>HTML</h6>
		</li>
		<li>
			<DiNodejsSmall/>
			<h6>Node</h6>
		</li>

		<li>
			<DiCss3 />
			<h6>CSS</h6>
		</li>
		<li>
			<DiBootstrap />
			<h6>Bootstrap</h6>
		</li>
		<li>
			<BiLogoTailwindCss />
			<h6>Tailwind</h6>
		</li>
		<li>
			<DiPython />
			<h6>Python</h6>
		</li>

	</ul>
</section>

<!-- Tenemos una variable --main-color -->

<style>
	section {
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}
	h2 {
		text-align: center;
		font-family: Kode Mono;
	}

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2rem;
		padding: 0;
		list-style: none;
	}
	li {
		text-align: center;
		padding: 1rem;
		border-radius: 1rem;
		color: var(--color-three);
		background-color: var(--second-color);
	}
	li:hover {
		filter: brightness(1.2);
	}
	li svg {
		font-size: 1.7rem;
	}

</style>