---

---

<div class="bento-cell">
	
	<figure>
		<img src="https://scontent.fsjo12-1.fna.fbcdn.net/v/t1.6435-1/162494658_125729942893446_5342045643499647094_n.jpg?stp=dst-jpg_p200x200&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=4ul636bs6zYQ7kNvgGtjvF_&_nc_ht=scontent.fsjo12-1.fna&oh=00_AfBzV9iin4avDB_Cc6C_XunuGOlV4UnUithHGC0yXoIUuw&oe=6653C41C" alt="face-photo">
	</figure>
</div>

<!-- Tenemos una variable --main-color -->

<style>
	div {
		grid-area: a;
		display: flex;
		flex-direction: column;
	}
	img[alt=face-photo] {
		aspect-ratio: 1/1;
		border-radius: 50%;
	}
</style>