---
import { DiReact, DiJsBadge, DiNodejsSmall, DiHtml5 } from "react-icons/di";

---

<section class="bento-cell">
	<h2>Skills</h2>
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</section>

<!-- Tenemos una variable --main-color -->

<style>
	section {
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}
	h2 {
		text-align: center;
		font-family: Kode Mono;
	}

	ul {
		padding: 0;
		list-style: none;
	}

</style>