---
import { BiLogoGmail, BiLogoLinkedinSquare ,BiLogoGithub } from "react-icons/bi";
---

<section class="bento-cell">
	<h1> Contact Me </h1>
	<ul>
		<li>
			<BiLogoGmail/>
			<a href="https://mail.google.com/mail/u/1/#inbox?compose=CllgCJTNqwmxJZpLJwZjqCLJNbLNClFMBVFmHhPwXTvRZgvwTFVKsvlqPtJqkFQKBrcRtMtXNGB" target="__blank">Gmail</a>
		</li>
		<li>
			<BiLogoLinkedinSquare/>
			<a href="https://www.linkedin.com/in/guillermo-castro-vargas-303abb231/" target="__blank">LinkedIn</a>
		</li>
		<li>
			<BiLogoGithub/>
			<a href="https://github.com/GuillermoJCV" target="__blank">Github</a>
		</li>
	</ul>
</section>

<!-- Tenemos una variable --main-color -->

<style>
	section {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 3rem;
	}

	h1 {
		text-align: center;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: center;
		align-items: center;

		list-style: none;
		padding: 0;
	}

	li {
		line-height: 2rem;
		font-size: 1.5rem;
	}
</style>