---
interface Props {
	title: string;
	imgUrl: string;
	webUrl: string;
}

const { title, imgUrl, webUrl } = Astro.props;
---

<div>
	<a href={webUrl} target="__blank">
		<figure>
			<img src={imgUrl} alt={title}/>
		</figure>
	</a>
	<section>
		<slot name="description"/>
		<slot name="skills">
	</section>
</div>

<style>
	div {
		display: flex;
		gap: 1rem;
		background: var(--text-gradient-1),
    				var(--text-gradient-2),
    				var(--text-gradient-3);
		border-radius: 1rem;
		min-height: 20rem;
		overflow: hidden;
		width: 100%;
	}
	figure {
		overflow: hidden;
	}
	img {
		border-radius: 1rem;
		height: 20rem;
		aspect-ratio: 1112/775;
		scale: 1;
		transition: scale 500ms;
	}
	img:hover {
		scale: 1.3;
	}

	section {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		overflow-x: hidden;
	}

</style>