---
import Layout from '../layouts/Layout.astro';
import SectionA	from '../components/Astro/SectionA.astro'

---

<Layout title="Portafolio">
	<main>
		<SectionA />

		<section class="bento-cell section-b">
			
		</section>
		<section class="bento-cell section-c">	|	
			
		</section>
		<section class="bento-cell section-d">
			
		</section>
	</main>
</Layout>



<style>
	main {
		display: grid;
		grid-template-areas:
		"a a b"
		"c d d";
		min-height: 98vh;
		gap: 2rem;
	}
	.section-b {
		grid-area: b;
	}
	.section-c {
		grid-area: c;
	}
	.section-d {
		grid-area: d;
	}

</style>




























