---
import Layout from '../layouts/Layout.astro';
import SectionA	from '../components/Astro/SectionA.astro'
import SectionB	from '../components/Astro/SectionB.astro'
import SectionC	from '../components/Astro/SectionC.astro'
import SectionD	from '../components/Astro/SectionD.astro'
---

<Layout title="Portafolio">
	<main>
		<div class="top">
			<SectionA />
			<SectionB />
		</div>
		<div class="bottom">
			<SectionC />
			<SectionD />
		</div>

	</main>
</Layout>



<style>
	@media screen and (width < 700px) {
		main {
			display: flex;
			flex-direction: column;
			padding: 1rem;
			gap: 2rem;
			& div {
				display: flex;
				flex-direction: column;
				gap: 2rem;
			}
		}
	}

	@media screen and (width > 701px) {
		main {
			--main-padding: 1rem;
			--space-between: 2rem;
			display: flex;
			flex-direction: column;
			padding: var(--main-padding);
			gap: var(--space-between);
		}
		.top {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: var(--space-between);
			min-height: calc(50vh - var(--space-between) - var(--main-padding));
		}
		.bottom {
			display: grid;
			grid-template-columns: 1fr 2fr;
			gap: var(--space-between);
			min-height: calc(50vh - var(--space-between) - var(--main-padding));
		}
	}

</style>




























