---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Portafolio">
	<main>
		<section class="section-a">
			
		</section>
		<section class="section-b">
			
		</section>
		<section class="section-c">
			
		</sectiohoice
		<section class="section-d">
			
		</section>
	</main>
</Layout>



<style>
	main {
		display: grid;
		grid-template-areas:
		"a a b"
		"c d d";
	}

</style>




























