@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&family=Ubuntu&display=swap');

.hire-form {
	--error-red: red;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-family: Ubuntu, system-ui, sans-serif;
}

.hire-form__inputs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.hire-form__inputs > input {
	padding: 0.3rem;
}

.hire-form__inputs > textarea {
	width: 100%;
	min-height: 4rem;
	resize: vertical;
}

.hire-form__buttons {
	display: flex;
	justify-content: space-around;
}

.hire-form__buttons > button {
	padding: 0.5rem;
	background-color: var(--main-color);
	border: 0;
	filter: brightness(1.4) drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.3));
	font-family: Kode Mono;
	scale: 1;
	transition: scale 100ms;
}
.hire-form__buttons > button:hover {
	scale: 1.2;
}
.hire-form__buttons > button:hover {
	scale: 1.1;
	filter: brightness(1.4) drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.3));
}

.hire-form__buttons > .second {
	background-color: transparent;

}

.hire-form__succcess {
	height: 3rem;
	width: 3rem;
	background-color: green;
	scale: 0;
	transition: scale 200ms;
}

.hire-form__succcess > svg {
	font-size: 2rem;
}

.hire-form__error {
	--elements-margin: clamp(0rem, 100%, 1rem);
	border-left: 5px solid var(--error-red);
	display: flex;
	align-items: center;
	gap: 2rem;
	overflow: hidden;
	min-height: fit-content;
	background: rgba(100, 100, 100, 0.7);
	width: 0;
	border: 0;
	transition: width 300ms, border 500ms;
}

.hire-form__error > span {
	margin: var(--elements-margin);
	height: 3rem;
	width: 3rem;
	background-color: var(--error-red);
	transition: scale 200ms;
}

.hire-form__error > span > svg {
	font-size: 2rem;
}

.hire-form__error__article {
	margin: var(--elements-margin);
	display: flex;
	flex-direction: column;
}

.hire-form__error__article > h3 {
	font-weight: bolder;
}

/* Modifiers */
.hire-form__error[class*="show"] {
	width: 90%;
	border-left: 5px solid var(--error-red) !important;
}
.hire-form__succcess[class*="show"] {
	scale: 1;
}

[class*="circle"] {
	aspect-ratio: 1/1;
	border-radius: 999999rem;
}

[class*="centered-items"] {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center {
	position: absolute;
	inset: 0;
	margin: auto;
}