---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: dark light;

		/*Para los colores de fondo*/
		--main-color: rgb(121,22,255);
		--second-color: rgb(90,3,213);
		--third-color: rgb(44,0,118);

		/*Para los colores de texto*/
		--color-one: rgb(251,255,226);
		--color-two: rgb(231,255,136);
		--color-three: rgb(189,255,13);

		--background-gradient-2: linear-gradient(217deg, rgba(121,22,255,.8), rgba(121,22,255,0) 70.71%);
		--background-gradient-3: linear-gradient(127deg, rgba(90,3,213,.8), rgba(90,3,213,0) 70.71%);
		--background-gradient-1: linear-gradient(336deg, rgba(44,0,118,.8), rgba(44,0,118,0) 70.71%);

		--text-gradient-2: linear-gradient(217deg, rgba(251,255,226,.8), rgba(251,255,226,0) 70.71%);
		--text-gradient-3: linear-gradient(127deg, rgba(231,255,136,.8), rgba(231,255,136,0) 70.71%);
		--text-gradient-1: linear-gradient(336deg, rgba(189,255,13,.8), rgba(189,255,13,0) 70.71%);

	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	@media screen and (width < 700px) {

	}
	@media screen and (width > 701px) {

	}

	.bento-cell {
		min-width: 10rem;
		border-radius: 1rem;
		background: var(--background-gradient-1),
            		var(--background-gradient-2),
            		var(--background-gradient-3);
        box-shadow: 0px 0px 10px var(--main-color);
	}



</style>


