---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&family=Ubuntu&display=swap');

	:root {
		color-scheme: dark;

		/*Para los colores de fondo*/
		--main-color: rgb(86,0,0);
		--second-color: rgb(130,0,0);
		--third-color: rgb(190,0,0);

		/*Para los colores de texto*/
		--color-one: rgb(16,16,16);
		--color-two: rgb(61,61,61);
		--color-three: rgb(69,69,69);

		/*Para el contraste*/
		--contrast-color: rgb(255,251,68);
		--contrast-gradient: radial-gradient(circle, rgba(253,254,232,1) 0%, rgba(251,255,137,1) 12%, rgba(134,95,13,1) 78%, rgba(67,41,5,1) 100%);

		--background-gradient-2: linear-gradient(217deg, rgba(86,0,0,.8), rgba(86,0,0,0) 70.71%);
		--background-gradient-3: linear-gradient(127deg, rgba(130,0,0,.8), rgba(130,0,0,0) 70.71%);
		--background-gradient-1: linear-gradient(336deg, rgba(190,0,0,.8), rgba(190,0,0,0) 70.71%);

		--text-gradient-2: linear-gradient(217deg, rgba(16,16,16,.8), rgba(16,16,16,0) 70.71%);
		--text-gradient-3: linear-gradient(127deg, rgba(61,61,61,.8), rgba(61,61,61,0) 70.71%);
		--text-gradient-1: linear-gradient(336deg, rgba(69,69,69,.8), rgba(69,69,69,0) 70.71%);

	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	@media screen and (width < 700px) {

	}
	@media screen and (width > 701px) {

	}

	.bento-cell {
		min-width: 10rem;
		border-radius: 1rem;
		background: var(--background-gradient-1),
            		var(--background-gradient-2),
            		var(--background-gradient-3);
        box-shadow: 0px 0px 10px var(--main-color);
	}



</style>


